@charset "utf-8";

/*   theme::haze, by bacon, 2018   */

.calendar {
	width: 100%;
	border-collapse: collapse;
	max-width: 26em;
}
.calendar th {
	text-align: center;
	vertical-align: top;
	border: solid 1px #336;
}
.calendar td {
	text-align: center;
	vertical-align: top;
	border: solid 1px #336;
	height: 3em;
}
.calendar th:nth-child(1), .calendar td:nth-child(1) {
	background-color: #fef;
	color: #c00;
}
.calendar th:nth-child(7), .calendar td:nth-child(7) {
	background-color: #eff;
	color: #00c;
}
.calendar .kenko { color: #f80; }
.calendar .setsumeikai { color: #a0a; }
.calendar .off-setsumeikai { color: #0a0; }
.calendar .session { color: #00c; }
.calendar .off-sessionA { color: #f00; }
.calendar .off-sessionB { color: #fa0; }
